{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}

    <br /><br />
    {% trans_default_domain 'messages' %}
    <a href="{{ path('liste_vehicles') }}">
        <button type="button" class="btn btn-info btn-lg">
            <span class="fa fa-home" aria-hidden="true"></span> {{ 'message.backhome' |trans }}
        </button>
    </a>
{% endblock fos_user_content %}
