{#{% trans_default_domain 'FOSUserBundle' %}#}
{% trans_default_domain 'messages' %}
<div class="blockconnexion">
    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
    <br /><br />
    <a href="{{ path('liste_vehicles') }}">
        <button type="button" class="btn btn-info btn-lg">
            <span class="fa fa-home" aria-hidden="true"></span> {{ 'message.backhome' |trans }}
        </button>
    </a>
</div>
